.signup-page {
  height: 200px;
  width: 250px;
  margin: 10px;
  position: absolute;
  top: 200px;
  left: 600px;
  padding: 30px;
}

.submit {
  top: 60%;
  left: -10%;
  width: 150px;
  height: 30px;
  margin: 4px;
}

.signup-field {
  width: 150px;
  border-color: white;
  margin: 4px;
}
