html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightyellow;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.image-container {
  background-color: #B57187;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  background: lightcoral;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.hooks-main > div:nth-child(1) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(2) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(3) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(4) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(5) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(6) {
  width: 250px;
  height: 250px;
}

.hooks-main > div:nth-child(7) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(8) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(9) {
  width: 200px;
  height: 200px;
}

/* .hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
} */

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none
}
